/Gemini.axf
/Gemini.build_log.htm
/Gemini.htm
/Gemini.map
/Gemini_Gemini.dep
/main.crf
/main.o
/stm32f1xx_it.crf
/stm32f1xx_it.o
*.o
*.crf
*.hex
*.d
/ExtDll.iex
/Gemini.sct
/Gemini_sct.Bak
/adc.d
/convertcolor.crf
/convertcolor.d
/dma.d
/ds3231.d
/flash.d
/font24_32.crf
/font24_32.d
/font5_7.crf
/font5_7.d
/font8_8.crf
/font8_8.d
/gpio.d
/gui_basic.crf
/gui_basic.d
/gui_stockc.crf
/gui_stockc.d
/gui_vfd.crf
/gui_vfd.d
/i2c.d
/lcmdrv.d
/remote.crf
/remote.d
/spi.d
/spline.crf
/spline.d
/startup_stm32f103xe.d
/startup_stm32f103xe.o
/stm32f1xx_hal.crf
/stm32f1xx_hal.d
/stm32f1xx_hal_adc.crf
/stm32f1xx_hal_adc.d
/stm32f1xx_hal_adc_ex.crf
/stm32f1xx_hal_adc_ex.d
/stm32f1xx_hal_cortex.crf
/stm32f1xx_hal_cortex.d
/stm32f1xx_hal_dma.crf
/stm32f1xx_hal_dma.d
/stm32f1xx_hal_exti.crf
/stm32f1xx_hal_exti.d
/stm32f1xx_hal_flash.crf
/stm32f1xx_hal_flash.d
/stm32f1xx_hal_flash_ex.crf
/stm32f1xx_hal_flash_ex.d
/stm32f1xx_hal_gpio.crf
/stm32f1xx_hal_gpio.d
/stm32f1xx_hal_gpio_ex.crf
/stm32f1xx_hal_gpio_ex.d
/stm32f1xx_hal_msp.d
/stm32f1xx_hal_pwr.crf
/stm32f1xx_hal_pwr.d
/stm32f1xx_hal_rcc.crf
/stm32f1xx_hal_rcc.d
/stm32f1xx_hal_rcc_ex.crf
/stm32f1xx_hal_rcc_ex.d
/stm32f1xx_hal_spi.crf
/stm32f1xx_hal_spi.d
/stm32f1xx_hal_tim.crf
/stm32f1xx_hal_tim.d
/stm32f1xx_hal_tim_ex.crf
/stm32f1xx_hal_tim_ex.d
/stm32f1xx_hal_uart.crf
/stm32f1xx_hal_uart.d
/system_stm32f1xx.crf
/system_stm32f1xx.d
/tim.d
/vfd.d
